{
    "presets": [
        "es2015",
        "react"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties"
    ],
    "sourceMaps": true,
    "retainLines": true
}